body {
    background-color: #204d74;
    color: white;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.center-width {
    display: flex;
    align-items: center;
}

.vertical-center-block {
    min-height: 100vh;

    justify-content: center;
}

.vertical-center-inline {
    display: inline-block;
}

.modal-title {
    color: black;
}

.modal-content {
    width: 336px;
}

.modal-footer {
    text-align: left;
    font-style: italic;
    color: black;
}

.name-string {
    color: #ec971f;
}

a:link {
    color: #ec971f;
}

a:visited {
    color: #ec971f;
}

a:hover {
    color: darkgrey;
}

a:active {
    color: white;
}

.thumbnail {
    min-height: 400px;
}

.thumbnail img{
    min-height: 200px;
    height: 200px;
    overflow: auto;
}

.panel-default {
    min-height: 190px;
}

.panel-text {
    color: black;
}

.glyphicon {
    color: #ec971f;
}

.popover-title, .popover-content {
    color: black;
}

.checkbox-inline {
    color: black;
}