<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Junnie Sim - Software Engineer</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
</head>
<body>

    <div class="modal fade" id="reCAPTCHAModal" tabindex="-1" role="dialog" aria-labelledby="reCAPTCHAModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="reCAPTCHAModalLabel">reCAPTCHA</h4>
                </div>

                <div class="g-recaptcha" data-sitekey="6LfX8gYUAAAAAKPAg31OIPsTqtQQAdNtJKVPsrpS"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <div class="center-width vertical-center-block">
                <div class="vertical-center-inline">
                    <h1>Hello World</h1>
                        <p class="lead">I hope you're well. My name is <span class="name-string">Junnie Sim</span>; I'm a Bachelor of Science in Computer Science and Linguistics from Stony Brook University. Learn more about me here, through my <a href="{{ url_for('static', filename='res/pdf/ResumePlusPlus.pdf') }}">resume</a>, or contact me at the bottom of this page.</p>
                        <p class="lead">Let me show you what I've done so far.</p>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h1>Projects</h1>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <div class="thumbnail">
                        <a href="https://comic-sans.appspot.com">
                            <img src="{{ url_for('static', filename='res/png/ComicSansSS.PNG') }}" alt="">
                        </a>
                        <div class="caption">
                            <h3>Comic Sans <small>Group Project | Capstone Course</small></h3>
                            <p>A Java Google App Engine Web platform for comic artists to showcase their work and develop a fanbase.</p>
                        </div>
                    </div>
                    </div>
                <div class="col-xs-4 col-md-4">
                    <div class="thumbnail">
                        <a href="http://devpost.com/software/rxcheck">
                            <img src="{{ url_for('static', filename='res/png/RxCheckSS.PNG') }}" alt="">
                        </a>
                        <div class="caption">
                            <h3>RxCheck <small>Group Hack | HackRU "Best Use of MongoDB"</small></h3>
                            <p>A Python/Flask/MongoDB Website that allows users to cross-check their medications and their existing conditions for potential violations; also alerts users to newly discovered violations via call/text/email.</p>
                        </div>
                    </div>
                    </div>
                <div class="col-xs-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ url_for('static', filename='res/png/IfYouAreTheOneMock.PNG') }}" alt="">
                        <div class="caption">
                            <h3>If You Are The One <small>Group Project | Databases Course</small></h3>
                            <p>A Java/MySQL dating Website with automated partner suggestions, feedback system, and administrators' portal.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        <div class="page-header">
            <h1>History</h1>
            <div class="row">
                <div class="col-xs-4 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>CA Innovation Center at CEWIT</strong></h3>
                        </div>
                        <div class="panel-body panel-text">
                            <p>Internship: Senior Research Aide</p>
                            <p>Collaborated with peers to complete inherited Java IoT project in both back-end and security teams. Technologies used include the Spring framework, TestNG, Docker, Maven, MQTT, Git, REST, OracleSQL.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Orbis Systems Inc.</strong></h3>
                        </div>
                        <div class="panel-body panel-text">
                            <p>Internship: Software Developer</p>
                            <p>Completed projects primarily in back-end Java correlating with production webapp; developed ORM Python script to automatically update relevant MySQL tables against real-time data. Technologies encountered included Stripes, Bootstrap, and jQuery.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h1>Contact Me</h1>
            <div class="center-block">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <form>

                        <div class="form-group">
                            <input type="text" class="form-control" id="contactName" placeholder="Your Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="contactEmail" placeholder="Your Email" data-toggle="popover" title="Email Validation Failed" data-container="body" data-placement="right" data-content="Are you sure this is a proper email address?">
                        </div>

                        <div class="panel-text">
                            <textarea class="form-control" id="contactMessage" rows="5" placeholder="Enter your message here!"></textarea>
                        </div>

                        </form>
                    </div>

                    <div class="panel-footer">
                        <div class="input-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="businessCheckbox" value="">Is this business related? You get priority!
                            </label>

                            <div class="input-group-btn text-right">
                                <button type="button" id="contactBtn" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Send Message" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-send" aria-hidden="true" aria-label="Send"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-success collapse" id="alertSuccess" role="alert">
                        <button type="button" id="closeSuccessBtn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Message Sent!
                    </div>

                    <div class="alert alert-danger collapse" id="alertError" role="alert">
                        <button type="button" id="closeErrorBtn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        There was an error; Junnie has been notified. Sorry!
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='js/jquery-2.2.4.min.js') }}">\x3C/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ttip.js') }}"></script>
<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>


<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>